<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
    <!-- CSS -->
    <style>
        .cap {
            font-weight: 700;
        }
        #bestAuto {
            text-align: center;
            font-weight: 700;
        }
    </style>
</head>
<body>
<p><img src="cars.jpg" alt="All BMW"></p>
<!-- Html: <p> - Параграф -->
<p id="bestAuto" ;>Лучшие автомобили года!</p>
<!-- Html: <table> - Таблица -->
<table>
    <!-- Html: <caption> - Заголовок таблицы -->
    <caption class="cap" ;>Таблица 1: «Автомобили в наличии»</caption>
    <!-- Html: <thead> - шапка таблицы -->
    <thead>
    <!-- Html: <tr> — строка -->
    <tr>
        <!-- Html: <th> — ячейка шапки -->
        <th>Id</th>
        <th>Brand</th>
        <th>Color</th>
    </tr>
    </thead>
    <!-- Html: <tbody> — тело таблицы -->
    <tbody>
    <!-- Html: <tr> — строка -->
    <tr th:each="car : ${carList}">
        <!-- Html: <td> — ячейка таблицы -->
        <td th:text="${car.getId()}"></td>
        <td th:text="${car.getBrand()}"></td>
        <td th:text="${car.getColor()}"></td>
        </br>
    </tr>
    </tbody>
</table>
</body>
</html>